@charset "UTF-8";

body {
    background-image: linear-gradient(rgb(68, 56, 56),rgb(146, 146, 139),rgb(116, 8, 8));
    text-align: center;
    text-shadow: 1px 1px 1px rgb(24, 22, 22);
}
header > h1 {
    text-align: center;
    text-shadow: 1px 1px 1px rgb(230, 13, 13);
    color: blanchedalmond;
    background-image: linear-gradient(rgb(26, 24, 24),rgb(119, 12, 9),rgb(15, 14, 14));
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 30%;
}

nav > button {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px white; 
    background-color: rgb(206, 13, 13); 
    border-radius: 30%;
}


main > h2 {
    background-image: linear-gradient(black,red,rgb(12, 11, 11));
    color: aliceblue;
    
    border-radius: 30%;
    box-shadow: 1px 1px 1px rgb(14, 13, 13);
}

footer {
    color: rgb(185, 184, 179);
    
}
